<!-- @if(user?.role !== 'Administrator' && user?.role !== 'Recruiter') {
  <div class="container justify-content-start mb-1">
    <button class="btn btn-secondary">
      Planed
    </button>
    <button class="btn btn-secondary ms-2">
      Active
    </button>
    <button class="btn btn-secondary ms-2">
      Completed
    </button>
  </div>
} -->
<div class="container p-2 mb-3 shadow-sm rounded">
  <form [formGroup]="formFilter">
    <div class="row">
      <div class="col">
        <label for="">Description</label>
        <input type="text"
        class="form-control"
        id="descriptionBootcamp"
        formControlName="descriptionBootcamp"
        >
      </div>
      <div class="col">
        <label for="">Batch</label>
        <input type="number"
        class="form-control"
        id="batchBootcamp"
        formControlName="batchBootcamp"
        min="0"
        >
      </div>
      <div class="col">
        <label for="">Total Data</label>
        <input type="number"
        class="form-control"
        formControlName="pageSize"
        id="pageSize"
        min="0"
        max="10"
        (change)="forceValidPageSize()"
      >
      </div>
    </div>
  </form>
</div>

@if (user?.role !=='TrainingManager') {
  <div class="container">
    <button class="btn btn-outline-success" [routerLink]="['/admin/bootcamps/add-class']">
      Add Bootcamp Class
    </button>
  </div>
}

<div class="container p-3 shadow rounded mt-2">
  <table class="table table-bordered table-striped table-hover mt-1"
  app-table-layout [headers]="user?.role === 'TrainingManager' ? hederTm: header">
  <tbody class="text-center">
    @for (b of bootcampclasses; track $index) {
      <tr app-bootcamp [bootcampclasses]="b" (deleted)="loadBootcampData()"></tr>
    }@empty {
      <tr>
        <td colspan="5" class="text-center">
          Bootcamp Not Found
        </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <div class="pagination mt-3 custom-style justify-content-between">
          Page {{ formFilter.value.pageNumber }} of {{ totalPages }}
          <ul class="pagination pagination-sm me-4">
            @for(page of [].constructor(totalPages); track $index; let index = $index) {
              <li class="page-item">
                <a
                class="page-link"
                [class.active]="formFilter.value.pageNumber === index + 1"
                [routerLink]="['.']"
                [queryParams]="{pageNumber: index + 1}"
                queryParamsHandling="merge">{{ $index + 1}}</a>
              </li>
            }
          </ul>
        </div>
      </td>
    </tr>
  </tfoot>
  </table>
</div>
