<p class="fs-6">Add and Update Candidate</p>
<button class="btn btn-outline-danger" [routerLink]="['/admin/candidate']">
  <i class="bi bi-arrow-left"></i>
  Back To List
</button>
<div class="container rounded shadow mt-2 p-2">
  <form class="row g-3" [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
    <div clas class="col-12">
      <input type="number" class="form-control" formControlName="candidateId" hidden>
    </div>
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
    </div>
    <div class="col-12">
      <label for="bootcampClass" class="form-label">Bootcamp Class</label>
      <select class="form-select" aria-label="Default select example" formControlName="bootcampClass">
        <option value=" " selected>Choose Bootcamp Class</option>
        @for (item of bootcampDropdown; track $index) {
          <option [value]="item.bootcampId">Batch: {{ item.bootcampId }}</option>
        }
      </select>
    </div>
    <div class="col-md-6">
      <label for="birthDate" class="form-label">Birth Date</label>
      <input type="date" class="form-control" formControlName="birthDate">
    </div>
    <div class="col-md-6">
      <label for="gender" class="form-label">Gender</label>
      <select class="form-select" aria-label="Default select example" formControlName="gender">
        <option value=" " selected>Choose Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" formControlName="address">
    </div>
    <div class="col-md-6">
      <label for="domicile" class="form-label">Domicile</label>
      <input type="text" class="form-control" formControlName="domicile">
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input type="text" class="form-control" formControlName="phoneNumber">
    </div>
    <div class="col-12">
      <label for="isActive" class="form-label">Status Candidate</label>
      <select class="form-select" aria-label="Default select example" formControlName="isActive">
        <option value="true" selected>Active</option>
        <option value="false">Non Active</option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="candidateForm.invalid">
        <i class="bi bi-floppy"></i>
        Submit
      </button>
      <button type="reset" class="btn btn-secondary ms-2">
        <i class="bi bi-arrow-clockwise"></i>
        Reset
      </button>
    </div>
  </form>
</div>
