<div class="p-5 rounded-3 shadow p-3 mb-5 rounded">
  <div class="jumbotron-header">
    <img src="/assets/image-jumbotron.png" alt="">
    <div class="jumbotron-text">
      <h1 class="display-4 fw-bold">Let's Join With Us</h1>
      <p class="text-end">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus aut dolores, sint, error quia minima optio accusantium laudantium ea rem dicta corrupti facilis dolor dolorum earum autem saepe consequuntur voluptatum!</p>
      <button class="btn btn-outline-primary btn-lg" href="#" role="button">
        Learn more
        <i class="bi bi-chevron-right 1875rem"></i>
      </button>
    </div>
  </div>
</div>
