<div class="container-lg text-center">
  <h3 class="text-center">
    All Classes
  </h3>
  <div class="horizontal-line-all-classes"></div>
  <div class="row align-items-center">
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
