<p class="fw-bold">Add Bootcamp Class</p>

<button class="btn btn-outline-danger mb-3" [routerLink]="['/admin/bootcamps']">
  <i class="bi bi-arrow-left"></i>
  Back
</button>
<div class="container shadow-sm rounded">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">End Date (Estimated)</label>
      <input type="date" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
