.hidden{
  display: none;
}

img{
  width: 100px;
  height: 100px;
}
.custom-text{
  line-height: 0.5px;
}
a{
  text-decoration: none;
  color: black;
}
li:hover{
  background-color: lightgray
}
.active{
  background-color: lightgray;
  color: black;
}

