<div class="p-5 rounded-3 shadow p-3 mb-5 rounded">
  <div class="jumbotron-header">
    <img src="/assets/image-jumbotron.png" alt="">
    <div class="jumbotron-text">
      <h1 class="display-4 fw-bold">Let's Join With Us</h1>
      <p class="text-end">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus aut dolores, sint, error quia minima optio accusantium laudantium ea rem dicta corrupti facilis dolor dolorum earum autem saepe consequuntur voluptatum!</p>
      <button class="btn btn-outline-primary btn-lg" href="#" role="button">
        Learn more
        <i class="bi bi-chevron-right 1875rem"></i>
      </button>
    </div>
  </div>
</div>
<!-- Clasess -->
<div class="container-lg text-center">
  <h3 class="text-center">
    Clases We Provide
  </h3>
  <div class="horizontal-line"></div>
  <div class="row align-items-center">
    <div class="col">
      <div class="card card-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/image-clasess.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/image-clasess.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-class">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-find-more-class mt-4" href="#" role="button">
    Find Out More
  </button>
</div>

<!-- testimonial -->
<div id="carouselExampleIndicators" class="carousel slide mt-3">
  <h3 class="text-center text-white">Testimonial From Our Students</h3>
  <div class="horizontal-line-testimonial"></div>
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div> -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card card-testimonial text-center">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-testimonial text-center">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card card-testimonial text-center">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- banner down -->
<div class="p-5 rounded-3 shadow p-3 mb-3 mt-3 rounded banner-down">
  <div class="jumbotron-header">
    <img src="/assets/image-banner.png" alt="">
    <div class="jumbotron-text">
      <h1 class="display-4 fw-bold">Let's Join With Us</h1>
      <p class="text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus aut dolores, sint, error quia minima optio accusantium laudantium ea rem dicta corrupti facilis dolor dolorum earum autem saepe consequuntur voluptatum!</p>
      <button class="btn btn-outline-primary btn-lg" href="#" role="button">
        Let's Join With Us Now
        <i class="bi bi-chevron-right 1875rem"></i>
      </button>
    </div>
  </div>
</div>

<!-- more Classes -->
<div class="container-lg text-center">
  <h3 class="text-center">
    All Classes
  </h3>
  <div class="horizontal-line-all-classes"></div>
  <div class="row align-items-center">
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-all-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/all-classes.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-all-class">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer mt-2 p-3">
  <div class="container d-flex justify-content-center">
    <img src="/assets/Logo.svg" alt="Logo">
    <p class="text-center fw-bold foot-text">Copyright © 2024 Haydra Bootcamp</p>
  </div>
</div>
