<div class="p-5 rounded-3 shadow p-3 mb-5 rounded">
  <div class="jumbotron-header">
    <img src="/assets/image-jumbotron.png" alt="">
    <div class="jumbotron-text">
      <h1 class="display-4 fw-bold">Let's Join With Us</h1>
      <p class="text-end">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus aut dolores, sint, error quia minima optio accusantium laudantium ea rem dicta corrupti facilis dolor dolorum earum autem saepe consequuntur voluptatum!</p>
      <button class="btn btn-outline-primary btn-lg" href="#" role="button">
        Learn more
        <i class="bi bi-chevron-right 1875rem"></i>
      </button>
    </div>
  </div>
</div>
<!-- Clasess -->
<div class="container-lg text-center">
  <h3 class="text-center">
    Clases We Provide
  </h3>
  <div class="horizontal-line"></div>
  <div class="row align-items-center">
    <div class="col">
      <div class="card card-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/image-clasess.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-class">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-clasess shadow p-3 mb-3 rounded">
        <div class="card-header card-head-classes">
          <img src="/assets/image-clasess.png" alt="">
        </div>
        <div class="card-body text-start">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-find-more-class">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-find-more-class mt-4" href="#" role="button">
    Find Out More
  </button>
</div>

<!-- Testiomonials -->
<div class="container-lg">
  <h3 class="text-center mt-5">
    Testiomonials
  </h3>
  <div class="horizontal-line"></div>
  <div id="carouselExampleDark" class="carousel carousel-dark slide p-4">
    <div class="carousel-indicators mt-2">
      <!-- di looping sesuaikan dengan jumalah data -->
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner p-2">
      <!-- data carosel di looping seusai dengan data testimonial -->
      <div class="carousel-item active" data-bs-interval="10000">
        <!-- card -->
        <div class="card mb-3 text-center">
          <div class="card-header">
            <img src="assets/person-testimonial.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title1</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <!-- card -->
      <div class="card mb-3 text-center">
        <div class="card-header">
          <img src="assets/person-testimonial.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title2</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <!-- card -->
      <div class="card mb-3 text-center">
        <div class="card-header">
          <img src="assets/person-testimonial.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title3</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <!-- card -->
      <div class="card mb-3 text-center">
        <div class="card-header">
          <img src="assets/person-testimonial.png" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title4</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev m-0" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

