<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Register Here</h4>
          <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="form-group mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                formControlName="username"
                class="form-control"
              />
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                ngModel
                required
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="form-group mb-3">
              <label for="role" class="form-label">Role</label>
              <select name="role" id="role" class="form-control">
                <option selected="0">Pilih Role Anda</option>
                <option value="1">Adminstrator</option>
                <option value="1">Trainer Manager</option>
                <option value="1">Recruiter Manager</option>
                <option value="1">Trainer</option>
                <option value="1">Candidate</option>
              </select>
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                ngModel
                required
                class="form-control"
                formControlName="password"
              />
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">Send</button>
          </form>
          <p class="text-center">Already have an account? <a [routerLink]="['/login']">Login</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
