<div class="alert alert-light p-2">
  <form [formGroup]="formFilter">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Full Name"
          aria-label="First name"
          id="fullName"
          formControlName="fullName"
        >
      </div>
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="Batch Bootcamp"
          aria-label="Last name"
          formControlName="batchBootcamp"
        >
      </div>
      <!-- <div class="col">
        <button class="btn btn-secondary">Filter</button>
      </div> -->
    </div>
  </form>
</div>

<div class="container">
  <button class="btn btn-primary" [routerLink]="['add-candidate']">
    Add Candidate
  </button>
</div>

<div class="container p-3 shadow rounded mt-2 overflow-auto">
  <table class="table table-bordered table-striped table-hover mt-1"
  app-table-layout
  [headers]="['Full Name', 'Batch Bootcamp', 'Contact Candidate', 'Domicile', 'Action']"
  >
  <tbody>
    @for (c of candidates; track $index) {
      <tr app-candidate [candidate]="c" (deleted)="loadDataCandidate()"></tr>
    }@empty {
      @if(isLoading){
        <tr>
          <td colspan="5" class="text-center">
            <div class="spinner-border"></div>
            <p class="text-center">Loading...</p>
          </td>
        </tr>
      }
      @else {
        <tr>
          <td class="message-empty" colspan="5">
            Candidate Not Found
          </td>
        </tr>
      }
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <div class="pagination mt-3 custom-style justify-content-between">
          Page {{ formFilter.value.pageNumber }} of {{ totalPages }}
          <ul class="pagination pagination-sm me-4">
            @for(page of [].constructor(totalPages); track $index; let index = $index) {
              <li class="page-item">
                <a
                class="page-link"
                [class.active]="formFilter.value.pageNumber === index + 1"
                [routerLink]="['.']"
                [queryParams]="{pageNumber: index + 1}"
                queryParamsHandling="merge">{{ $index + 1}}</a>
              </li>
            }
          </ul>

        </div>
      </td>
    </tr>
  </tfoot>
  </table>
</div>
